body,h1,h2,h3,h4,h5,h6,hr,p,figure,blockquote,dl,dd{margin:0; font-size:17px;}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: sans-serif;
    background-color: #110c22;
    color: #c3dce5
}

header {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-style: dotted;
    border-width: 0 0 3px 0;
    padding: 10px 0 10px 0;
}

h1 {
    font-size: 3em;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

a {
    color: #ea1067;
}

a:visited {
    color: #c3dce5;

}


#theCheckbox {
    width: 40px;
    height: 40px;
    margin: 60px 0 30px 0;
}

#theMessage {
    color: #5e6d72;   
    font-style: italic;
}
